.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;    
}

.list{
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #000;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #000;        
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 10px;
    border-bottom: 1px solid #000;
    color: aliceblue;
    background-color: #000;
}

.tabla{
    width: 100%; 
    height: 100%;    
}

.titulos{
    border: 1px solid whitesmoke;
}

.detalle{
    color:white;
    text-align: center;    
    border-bottom: 1px solid whitesmoke;
}

.nuevo{
    background-color: cadetblue;    
}

.modificar{
    background-color:orangered;    
}

.borrar{
    background-color: red;
}

.nuevo, .borrar, .modificar{
    color:aliceblue;
    width: 100px;
    height: 50px;
}